{erlydtl_opts, [
    {doc_root, "priv/templates"},                     % directory with templates
    {out_dir, "ebin"},                                % output directory
    {compiler_options, [report, return, debug_info]}, % compiler options
    {source_ext, ".dtl"},                             % templates extension
    {module_ext, "_view"}                             % module extension
]}.
